@media (max-width: 1584px) {
    .container {
        max-width: 1280px;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 1024px
    }
    ul.main-nav {
        padding: 10px 0;
    }
    ul.main-nav li.main-nav-item {
        padding: 0;
    }
}
@media (max-width: 1024px) {
    .containder {
        max-width: 900px;
    }
    form.header-form input {
        width: 300px;
    }
}
@media (max-width: 900px) {
    .container {
        max-width: 767px;
        padding: 0 20px;
    }
    .header {
        padding: 10px 0;
    }
    form.header-form input {
        width: 250px;
    }
    body.lock {
        overflow: hidden;
    }
    .logo {
        z-index: 3;
    }
    .burger-menu {
        display: block;
        position: relative;
        width: 33px;
        height: 20px;
        z-index: 3;
        margin-left: 20px;
    }
    .burger-menu span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8.5px;
        background-color: #fff;
        transition: 1s;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu.active span {
        transform: scale(0);
        transition: 1s;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 8px;
        transition: 1s;
        background-color: #fff;
    }
    ul.main-nav {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        align-items: flex-start;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #242B33;
        z-index: 2;
        padding-top: 155px;
        padding-left: 40px;
        transition: 1s;
        overflow: scroll;
    }
    ul.main-nav.active {
        left: 0;
        transition: 1s;
    }
    ul.main-nav li.main-nav-item {
    border: none;
    text-align: left;
    width: 100px;
    }
    .main-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 17px 20px;
    }
    p.text-main-menu {
        display: inline-block;
        font-size: 33px;
        font-family: "BebasNeue";
        color: #fff;
        line-height: 0.576;
    }
    .special-item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    h1.slider-head {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .slide-text a {
        width: 137px;
        height: 44px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 0.704;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 5px 10px;
        text-transform: uppercase;
    }
    form.header-form {
        position: fixed;
        width: 50%;
        padding-top: 125px;
        left: -100%;
        padding-left: 40px;
        transition: 1s;
    }
    form.header-form svg {
        display: none;
    }
    form.header-form.active {
        transition: 1s;
        left: 0;
    }
    form.header-form input {
        width: 100%;
    }
    .product-item {
        width: 45%;
    }
}
@media (max-width: 700px) {
    .special-item {
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .slide-content {
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 70px;
    }
    .slide-content img {
        padding-right: 0;
    }
    .product-item {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .product-item-price a {
        font-size: 14px;
    }
}